/* SOMMAIRE */

/* I. GENERAL */
/* II. INDEX */
/* III. PLANNING */




/* I. GENERAL */

@font-face {
    font-family: Migra;
    src: url(Fonts/Migra-Extralight.ttf);
}

@font-face {
    font-family: GothicMedium;
    src: url(Fonts/PPRightGothic-Medium.otf);
}

@font-face {
    font-family: Restora;
    src: url(Fonts/Nasir\ Udin\ -\ RestoraExtraLight.otf);
}

@font-face {
    font-family: GothicLight;
    src: url(Fonts/PPRightGothic-Light.otf);
}

@font-face {
    font-family: GothicSpace;
    src: url(Fonts/PPRightGothic-SpatialFine.otf);
}

@font-face {
    font-family: Harmony;
    src: url(Fonts/HARMONY\ Personal\ use.otf);
}


body {
    margin : 0;
    padding : 0;
    background-color: #faf5ea;
    font-family: 'Courier New', Courier, monospace;
}

a {
    outline: none;
    text-decoration: none;
    color: rgb(31, 30, 30);
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.navbar a {
    margin-top: 3vh;
    font-family: GothicMedium;
    letter-spacing: 0.1vw;
}
#rose:hover {
    box-shadow: inset 0 0px 0 #faf5ea, inset 0 -5px 0 #EEC4C4;
}
#bleu:hover {
    box-shadow: inset 0 0px 0 #faf5ea, inset 0 -5px 0 #A6D6D6;
}
#violet:hover {
    box-shadow: inset 0 0px 0 #faf5ea, inset 0 -5px 0 #F0D9FF;
}
#jaune:hover {
    box-shadow: inset 0 0px 0 #faf5ea, inset 0 -5px 0 #F6D7A7;
}

button {
    border:none;
    background-color: #faf5ea;
    font-family: GothicMedium;
    font-size: 1em;
    letter-spacing: 0.1vw;
    cursor: pointer;
    margin-top: 5vh;
}
button:hover {
    padding-bottom: 1.6vh;
    box-shadow: inset 0 0px 0 #faf5ea, inset 0 -5px 0 #CEE5D0;
}




/* II. INDEX */

.titre {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    margin-left: 19%;
    margin-right: 19%;
    margin-top: 20vh;
}

h1 {
    font-family: Restora;
    font-size: 7em;
    color: rgb(32, 32, 32);
}

.slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes slideInLeft {
    0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    }
    @keyframes slideInLeft {
    0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    } 

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-delay: 0.7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeInRight {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes fadeInRight {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-delay: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeInDown {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes fadeInDown {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    } 

.point {
    font-size: 6em;
    color: #D5ECC2;
}

.point1 {
    font-size: 6em;
    color: #EEC4C4;
}

#txtdescri {
    text-align: justify;
    width: 55vw;
    font-family: GothicLight;
    font-size: 1.3em;
    line-height: 3.5vh;
    margin-left: 22vw;
    margin-top: -8vh;
}




/* III.PLANNING */

#general {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3vh;
}
th {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;

}
td {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
  }

table {
    height: 85vh;
    width: 70vw;
}

#legende {
    background-color: #FEFBF3;
    width: 25vw;
    height: 42vh;
    text-align: center;
    margin-left: 2vw;
    box-shadow: 3px 1px 15px 4px rgb(199, 199, 199);
    margin-top: 20vh;
}

h3 {
    font-family: GothicMedium;
    letter-spacing: 1px;
}

#carrés {
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    margin-left: 5vw;
}

.leg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.key {
    margin-right: 7vw;
    font-family: GothicLight;
    letter-spacing: 1px;
}

#soc {
    height: 30px;
    width: 30px;
    background-color: #FFD3B4;
    margin-top: 2vh;
}
#loi {
    height: 30px;
    width: 30px;
    background-color: #FFAAA7;
    margin-top: 2vh;
}
#sco {
    height: 30px;
    width: 30px;
    background-color: #98DDCA;
    margin-top: 2vh;
}
#spo {
    height: 30px;
    width: 30px;
    background-color: #D5ECC2;
    margin-top: 2vh;
}
#fes {
    height: 30px;
    width: 30px;
    background-color: #F6DFEB;
    margin-top: 2vh;
}
